# ignore all files
**/**

# expecpt extensions...
!**/*.rs
!**/*.toml

# ignore even valid files in...
.git/**
target/**
temp/**

# allow individual folders
!src/
!src/bin
!src/services
!tests/

# allow individual files
!.gitignore
